*{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header{
    background-color: antiquewhite;
    height: 10vh;
    width: 45%;
}

.a{
    background-color: rgb(100, 57, 0);
    height: 10vh;
    width: 45%;
}

main{
    display: flex;
    flex-direction: row;
    background-color: rgb(11, 173, 173);
    height: 40vh;
    width: 45%;
}

.b{
    margin-top: 50px;
    margin-left: 10px;
    background-color: chartreuse;
    border: 3px black solid;
    width: 30%;
    height: 30vh;
}

.c{
    margin-top: 50px;
    background-color: chartreuse;
    border: 3px black solid;
    width: 30%;
    height: 30vh;
}

.d{
    margin-top: 50px;
    margin-right: 20px;
    background-color: chartreuse;
    border: 3px black solid;
    width: 30%;
    height: 30vh;
}

footer{
    background-color: rgb(166, 255, 0);
    height: 10vh;
    width: 45%;
}